{% extends 'base.html.twig' %}

{% block title %}Attraction index{% endblock %}

{% block body %}
    <h1>Attraction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attraction in attractions %}
            <tr>
                <td>{{ attraction.id }}</td>
                <td>{{ attraction.name }}</td>
                <td>{{ attraction.location }}</td>
                <td>{{ attraction.country }}</td>
                <td>
                    <a href="{{ path('app_attraction_show', {'id': attraction.id}) }}">show</a>
                    <a href="{{ path('app_attraction_edit', {'id': attraction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_attraction_new') }}">Create new</a>
{% endblock %}
